<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]=" 'navigation'"
      [mode]="'side'"
      [opened]="true">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/addUser">Add User</a>
      <a mat-list-item routerLink="/userList">User List</a>
      <a mat-list-item routerLink="/friendGraph">Relation</a>
      <a mat-list-item routerLink="/dashboard">Dashboard</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>my-social</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="mat-app-background basic-container">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
